{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .intro {
            font-weight: 100;
            font-size: 0.9rem;
        }
        .intro span {
            padding: 0 !important;
        }
        .row-div {
            width: 100%;
        }
        .hidden {
            display: none;
        }
        @media (max-width: 767px) {
            .row-div {
                display: table;
            }
            .row-div button {
                width: 100%;
            }
            .page-heading {
                margin-top: 1rem;
                display: block !important;
                float: none !important;
            }
            .page-heading h2 {
                float: none !important;
                display: inline-block;
            }
            .page-heading br {
                display: none;
            }
        }
    </style>
{% endblock %}


{% block body %}
    <body class="bg-light d-flex flex-column min-vh-100">
    <div id="flash-messages">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                    <i class="fa fa-close float-right close-flash-message"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container p-tb-5 mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1 ps-6 pb-2 pt-5 text-left">
                <a href="{{ path('homepage') }}" class="homepage-link">
                    <div style="display: inline-block">
                        <img class="mt-3" src="{{ asset('resources/batterychain_logo.png') }}" alt="" width="72" height="72">
                    </div>
                    <div style="display: inline-block">
                        <h1 class="m-0 lh-1">{{ "Battery" | trans }}</h1>
                        <h1 class="m-0 float-left lh-1">{{ "Chain" | trans }}</h1>
                    </div>
                </a>
                <div class="page-heading pe-5" style="display: inline-block; float: right; padding-top: 1.4rem">
                    <h2 class="m-0 float-right lh-1">{{ "Pickup" | trans | upper }}</h2><br>
                    <h2 class="m-0 float-right lh-1">{{ "Service" | trans | upper }}</h2><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 ps-1-5 pe-1-5">
                <div class="">
                    <div class="p-3 card-body ps-5 pe-5 pb-5 pt-5">
                        <div class="row text-left pb-5 intro">
                            <span>
                                {{ "Now you have the option of registering your battery for a pickup service or receive information about the proper disposal" | trans }}
                            </span>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12 p-0">
                                {{ form_row(form.country) }}
                            </div>
                            <div class="col-md-12 p-0">
                                {{ form_row(form.recyclers) }}
                            </div>
                            <hr style="margin: 12px 0;">
                            {% if form.information is defined %}
                                <div class="col-md-12 p-0">
                                    <p>
                                        <i class="fa fa-info-circle"></i>
                                        {{ "In order to initiate the return or recycling process, please provide your contact information below and our partner will get in touch with you shortly" | trans }}
                                    </p>
                                    {{ form_row(form.information) }}
                                </div>
                            {% endif %}
                            {% if fallBack is defined and fallBack == true and
                                recycler is defined and recycler is not null %}
                                {% set hidden = '' %}
                            {% else %}
                                {% set hidden = 'hidden' %}
                            {% endif %}
                            <div class="col-md-12 p-0 fallback-div {{ hidden }}">
                                <p>
                                    <i class="fa fa-info-circle"></i>
                                    {{ "Please contact the institution list below regarding the disposal or recycling of your battery" | trans }}
                                </p>
                                <p class="row">
                                    <span class="col-md-2 fw-bold">{{ "Name" | trans }}</span>
                                    <span class="col-md-10" id="fallback-name"></span>
                                </p>
                                <p class="row">
                                    <span class="col-md-2 fw-bold">{{ "Address" | trans }}</span>
                                    <span class="col-md-10" id="fallback-address"></span>
                                </p>
                                <p class="row">
                                    <span class="col-md-2 fw-bold">{{ "Email" | trans }}</span>
                                    <span class="col-md-10" id="fallback-email"></span>
                                </p>
                                <p class="row">
                                    <span class="col-md-2 fw-bold">{{ "Phone Number" | trans }}</span>
                                    <span class="col-md-10" id="fallback-contact">
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-12 p-0">
                                {{ form_widget(form.dataPolicy) }}
                                {{ form_label(form.dataPolicy) }}
                            </div>
                            <div class="row-div p-0">
                                {{ form_row(form.submit) }}
                                {{ form_row(form.cancel) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}

    <script>
        $(document).ready(function () {
            if ($('#return_public_form_fallback').val() == 1) {
                $('#return_public_form_dataPolicy').parent().hide();
                $('#return_public_form_information').parent().parent().hide();
                $("#return_public_form_cancel").text('Back');
                $('#return_public_form_submit').hide();
            }
            $('#return_public_form_dataPolicy').change(function () {
                if ($(this).is(':checked') && $('#return_public_form_recyclers').val() !== null) {
                    $('#return_public_form_submit').attr('disabled', false);
                } else {
                    $('#return_public_form_submit').attr('disabled', true);
                }
            });
            var $country = $('#return_public_form_country');
            $country.change(function() {
                var data = {};
                data['serial_number'] = "{{ serialNumber }}";
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url : '/recyclers/country/' + $country.val(),
                    type: 'POST',
                    data : data,
                    success: function(data) {
                        // Replace current position field ...
                        var options, select;

                        // Get the raw DOM object for the select box
                        select = $('#return_public_form_recyclers');
                        select.html('');
                        if (data.fall_back == 1 && data.details !== null) {
                            $('#return_public_form_information').parent().parent().hide();
                            $('#fallback-name').html(data.details.name);
                            $('#fallback-email').html(data.details.email);
                            $('#fallback-contact').html(data.details.contact);
                            $('#fallback-address').html(data.details.address + ', ' + data.details.postalCode + ', ' + data.details.city);
                            $('.fallback-div').show();
                            $('#return_public_form_fallback').val(1);
                            $("#return_public_form_cancel").text('Back');
                            $('#return_public_form_submit').hide();
                            $('#return_public_form_dataPolicy').parent().hide();
                        } else if (data.fall_back == 1 && data.details === null) {
                            $('#return_public_form_dataPolicy').parent().hide();
                            $('#return_public_form_submit').hide();
                            $("#return_public_form_cancel").text('Back');
                            $('#return_public_form_fallback').val(1);
                            $('#return_public_form_information').parent().parent().hide();
                            $('.fallback-div').hide();
                        } else {
                            $('#return_public_form_dataPolicy').parent().show();
                            $('#return_public_form_submit').show();
                            $("#return_public_form_cancel").text('Cancel');
                            $('#return_public_form_fallback').val(0);
                            $('#return_public_form_information').parent().parent().show();
                            $('.fallback-div').hide();
                        }
                        options = data.recyclers; // Or whatever source information you're working with
                        if (options.length === 0) {
                            $('#return_public_form_submit').attr('disabled', true);
                            $('#return_public_form_information').parent().parent().hide();
                            var newOption = new Option('No Pickup Partner Found', "none" , false, true);
                            newOption.setAttribute('disabled', 'disabled');
                            select.append(newOption);
                        } else {
                            if ($('#return_public_form_dataPolicy').is(':checked')) {
                                $('#return_public_form_submit').attr('disabled', false);
                            }
                            $('#return_public_form_recyclerId').val(data.id);
                            $.each(options, function(index, element) {
                                var newOption = new Option(index, element, false, false);
                                select.append(newOption);
                            });
                        }
                    }
                });
            });
            var $recycler = $('#return_public_form_recyclers');

            $recycler.change(function () {
                $('#return_public_form_recyclerId').val($recycler.val());
                $.ajax({
                    url : '/recyclers/' + $recycler.val(),
                    type: 'GET',
                    success: function(data) {
                        $('#fallback-name').html(data.name);
                        $('#fallback-email').html(data.email);
                        $('#fallback-contact').html(data.contact);
                        $('#fallback-address').html(data.address + ', ' + data.postalCode + ', ' + data.city);
                    }
                });
            })

            if ($recycler.val() !== '' && $recycler.val() !== null ) {
                $.ajax({
                    url : '/recyclers/' + $recycler.val(),
                    type: 'GET',
                    success: function(data) {
                        if (data.status == true) {
                            $('#fallback-name').html(data.name);
                            $('#fallback-email').html(data.email);
                            $('#fallback-contact').html(data.contact);
                            $('#fallback-address').html(data.address + ', ' + data.postalCode + ', ' + data.city);
                        } else {
                            $('.fallback-div').hide();
                        }
                    }
                });
            }
        });
    </script>
    </body>
{% endblock %}