{% extends 'base.html.twig' %}

{% block body %}
    <body class="bg-light d-flex flex-column min-vh-100">
    <div id="flash-messages">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                    <i class="fa fa-close float-right close-flash-message"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="">
                    <div class="p-3 card-body p-lg-5">
                        <div class="text-center mb-5">
                            <div style="display: inline-block">
                                <img class="mt-3" src="{{ asset('resources/batterychain_logo.png') }}" alt="" width="72" height="72">
                            </div>
                            <div style="display: inline-block">
                                <h1 class="m-0 lh-1">{{ "Battery" | trans }}</h1>
                                <h1 class="m-0 float-left lh-1">{{ "Chain" | trans }}</h1>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12 p-0">
                                {{ form_row(form.recyclers) }}
                            </div>
                            <div class="row-div p-0">
                                {{ form_row(form.submit) }}
                                {{ form_row(form.cancel) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
    </body>
{% endblock %}