{% extends 'base.html.twig' %}

{% block title %}{{ "Password Reset Email Sent" | trans }}{% endblock %}

{% block body %}
<body class="bg-light d-flex flex-column min-vh-100">
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ asset('resources/batterychain_logo.png') }}" alt="" width="72" height="72">
        <h2>{{ "Battery Chain" | trans }}</h2>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="">
                <div class="p-3 card-body">
                    <div class="alert alert-success">
                        <p>
                            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>
                    </div>
                    <div class="alert alert-info">
                        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html.twig' %}

</body>
{% endblock %}
