{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="mt-5">
                    <div class="p-3 border card-body cardbody-color p-lg-5">
                        <div class="card-body cardbody-color-white border">
                            <div>
                                <p>{{ "Dear " ~ body.user.fullName ~ "," }}</p>
                            </div>
                            <div>
                                <p>{{ "To reset your password, please visit the following link :" | trans }}</p>
                            </div>
                            <div class="alert alert-success">
                                <a href="{{ url('app_reset_password', {token: body.resetToken.token}) }}">{{ "Reset Your Password" | trans }}</a>
                            </div>
                            <div>
                                <p>{{ "This link will expire in" | trans }} {{ body.resetToken.expirationMessageKey|trans(body.resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                            </div>
                            <div>
                                <p>{{ "Cheers!" | trans }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('email_templates/footer.html.twig') }}
{% endblock %}
