{% extends 'layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="{{ path }}">
                    {{ "Search Battery" }}
                </a>
            </li>
            <li class="active">
                <span>{{ "Battery Detail" }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .main-detail {
            background: white;
            border: 0.5px solid darkgrey;
            border-radius: 10px;
        }
        .p-0 {
            padding: 0;
        }
        .heading {
            font-size: large;
            font-weight: normal;
        }
        .row-border-bottom {
            border-bottom: 1px solid lightgray;
        }
        .p-tb-5 {
            padding: 5px 0;
        }
        .back {
            float: right;
        }
        .mt-10 {
            margin-top: 10px;
        }
        .w-10 {
            width: 10%;
        }
    </style>
{% endblock %}

{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row main-detail">
            <div class="col-md-12">
                <div class="header">
                    <h1>{{ "Battery Detail" }}</h1>
                    <hr>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Serial Number" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.serialNumber }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Manufacturer" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.manufacturer.name }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Status" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.status | capitalize }}
                    </div>
                </div>
               <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Type" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.batteryType.type }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                    <span class="heading">
                        {{ "Cell Type" | trans }}
                    </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.cellType }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                    <span class="heading">
                        {{ "Module Type" | trans }}
                    </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.moduleType }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Production Date" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.productionDate | date('Y-m-d') }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Tray Number" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.trayNumber }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Nominal Voltage" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.nominalVoltage ~ ' V'}}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Nominal Capacity" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.nominalCapacity ~ ' Ah'}}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Nominal Energy" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.nominalEnergy ~ ' kWh' }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                    <span class="heading">
                        {{ "Acid Volume" | trans }}
                    </span>
                    </div>
                    <div class="col-md-8">
                        {% if battery.acidVolume != '' and battery.acidVolume is not null  %}
                            {{ battery.acidVolume ~ ' l' }}
                        {% else %}
                            {{ battery.acidVolume }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                    <span class="heading">
                        {{ "CO" | trans }}<sub>{{ "2" }}</sub>
                        {{ " - Footprint" }}
                    </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.co2 }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Cycle Life" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.cycleLife }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Height" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.height ~ ' cm' }}
                    </div>
                </div>
                <div class="col-md-12 p-0 row-border-bottom p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Width" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.width ~ ' cm' }}
                    </div>
                </div>
                <div class="col-md-12 p-0 p-tb-5">
                    <div class="col-md-4 p-0">
                        <span class="heading">
                            {{ "Weight" | trans }}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{ battery.mass ~ ' kg' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-0">
                <a class="back mt-10 btn btn-outline-green w-10" href="{{ path }}"> {{ "Back" | trans }}</a>
                <a class="back mt-10 btn btn-green w-10 margin-r-5" href="{{ downloadPath }}" target="_blank"> {{ "Download" | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}