<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        * {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-style: normal;
        }
        b,strong{
            font-weight: bold;
        }
        #footer {
            font-size: 21px;
            position: fixed;
            bottom:-40px;
            height: 85px;
            margin-top: 24px;
            width: 100%;
        }
        #footer .page:after { content: counter(page); }
        .text-align-left { text-align: left }
        .text-align-right { text-align: right }
        .title {
            font-weight: bold;
            font-style: normal;
            font-size: 30px;
            text-align: center;
            margin: 0;
            padding-top: 10px;
        }
        ol {
            padding: 16px;
        }
        ul {
            padding: 16px;
        }
        ol li {
            padding: 16px;
            margin-left: 35px;
        }
        ul li {
            margin: 5px;
        }
        textarea {
            width: 100%;
            height: auto;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 2px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
        .heading-title, .heading-title a {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            float: right;
        }
        .heading-title-transactions, .heading-title-transactions a {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            float: right;
        }
        .heading-title-hash {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 22px;
            word-wrap: break-word;
            line-height: normal;
            float: right;
        }
        .heading-span {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 17px;
        }
        .heading-span-transactions {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            padding-bottom: 7px;
        }
        .row-border-bottom {
            border-bottom: 1px solid lightgray;
        }
        .row-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 37px;
        }
        .transaction-row-div {
            display: table;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            align-items: center;
            justify-content: space-between;
        }
        .h-auto {
            height: auto !important;
        }
        .m-0 {
            margin: 0;
        }
        .lh-1 {
            line-height: 1;
        }
        .f-bold {
            font-weight: bold;
        }
        .f-size-24 {
            font-size: 24px;
        }
        .f-size-22 {
            font-size: 22px;
        }
        .f-size-14 {
            font-size: 14px;
        }
        a {
            text-decoration: none;
            color: #55bc5e;
        }
        .status-link {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
{% set divAlignment = 'left' %}
{% set positionType = 'relative' %}
{% if manufacturerLogo != '' %}
    {% set divAlignment = 'center' %}
    {% set positionType = 'absolute' %}
{% endif %}
<div class="py-5 text-center" style="display: inline-block; text-align: {{ divAlignment }}; width: 100%; position: relative">
    <div style="display: inline-block; position: {{ positionType }}; left: 0;">
        <img class="mt-3" src="{{ poweredByLogo }}" alt="" width="72" height="72">
        <div style="display: inline-block">
            <h1 class="m-0 lh-1 f-bold">{{ "Battery" | trans }}</h1>
            <h1 class="m-0 float-left lh-1 f-bold">{{ "Chain" | trans }}</h1>
        </div>
    </div>
    <div style="display: inline-block; text-align: center">
        <img class="mt-3" style="object-fit: contain;" src="{{ manufacturerLogo }}" alt="" width="200" height="80">
    </div>
    <div style="display: inline;  position: {{ positionType }}; right: 0;">
        {% if battery.isClimateNeutral %}
            <img class="mt-3" style="object-fit: contain; margin-right: 15px" src="{{ co2NeutralLogo }}" alt="" width="75" height="75">
        {% endif %}
        {% if battery.isInsured %}
            <img class="mt-3" style="object-fit: contain;" src="{{ insuranceLogo }}" alt="" width="75" height="75">
        {% endif %}
    </div>
</div>
<h1 class="title">{{ documentTitle }}</h1>
<hr>
<div id="footer" class="h-auto">
    <div class="row-div h-auto">
        <span class="heading-span f-bold f-size-22">{{ "Status" | trans }}</span>
        <span class="heading-title">
            <a class="status-link" href={{ etherscan_url ~ transaction.transactionHash }}>{{ battery.status | capitalize | trans }}</a>
        </span>
    </div>
    {% if detail is not null %}
        <span class="heading-span f-bold f-size-14">
            <span style="font-family: FontAwesome">&#xf05a;</span>&#8201; {{ detail }}
        </span>
    {% endif %}
    <hr>
    <div class="row-div">
        <span class="heading-span page"> {{ createdDate }} | Pg. </span>
        <span style="float: right" class="heading-span">{{ "batterychain.info" }}</span>
    </div>
</div>
<div id="content">
    <div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Serial Number" | trans }}</span>
            <span class="heading-title">{{ battery.serialNumber }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Internal Serial Number" | trans }}</span>
            <span class="heading-title">{{ battery.internalSerialNumber }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Manufacturer" | trans }}</span>
            <span class="heading-title">{{ battery.manufacturer.name }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Type" | trans }}</span>
            <span class="heading-title-hash">{{ battery.batteryType.type }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Cell Type" | trans }}</span>
            <span class="heading-title-hash">{{ battery.cellType }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Module Type" | trans }}</span>
            <span class="heading-title-hash">{{ battery.moduleType }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Production Date" | trans }}</span>
            <span class="heading-title-hash">{{ battery.productionDate | date('Y-m-d') }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Tray Number" | trans }}</span>
            <span class="heading-title-hash">{{ battery.trayNumber }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Nominal Voltage" | trans }}</span>
            <span class="heading-title-hash">{{ battery.nominalVoltage ~ ' V'}}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Nominal Capacity" | trans }}</span>
            <span class="heading-title-hash">{{ battery.nominalCapacity ~ ' Ah'}}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Nominal Energy" | trans }}</span>
            <span class="heading-title-hash">{{ battery.nominalEnergy ~ ' kWh' }}</span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Acid Volume" | trans }}</span>
            <span class="heading-title-hash">
                {% if battery.acidVolume != 0 and battery.acidVolume is not null  %}
                    {{ battery.acidVolume ~ ' l' }}
                {% else %}
                    {{ battery.acidVolume }}
                {% endif %}
            </span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">
                {{ "CO" | trans }}<sub>{{ "2" }}</sub>
                {{ " - Footprint" }}
            </span>
            <span class="heading-title-hash">
                {% if battery.co2 != 0 and battery.co2 is not null  %}
                    {{ battery.co2 ~ ' kg' }}
                {% else %}
                    {{ battery.co2 }}
                {% endif %}
            </span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Height x Width x Length" | trans }}</span>
            <span class="heading-title-hash">
                {{ battery.height ~ ' x ' ~ battery.width ~ ' x ' ~ battery.length }}
                {% if (battery.height != 0 and battery.height is not null) or
                    (battery.height != 0 and battery.height is not null) or
                    (battery.width != 0 and battery.width is not null)
                %}
                    {{ ' cm' }}
                {% endif %}
            </span>
        </div>
        <div class="row-border-bottom row-div">
            <span class="heading-span">{{ "Weight" | trans }}</span>
            <span class="heading-title-hash">{{ battery.mass ~ ' kg' }}</span>
        </div>
        {% if battery.status != 'pre-registered' %}
            {% for transaction in transactions %}
                <div class="row-border-bottom transaction-row-div">
                    <div class="row-div" style="height: auto">
                        <span class="heading-span-transactions">{{ transaction.transactionType | trans | capitalize ~ ":" }}</span>
                        <span class="heading-title-transactions"><a class="status-link" href={{ etherscan_url ~ transaction.transactionHash }}>{{ transaction.transactionHash }}</a></span>
                    </div>
                    <div class="row-div" style="height: auto">
                        <span class="heading-span-transactions">{{ "Date & Time:" | trans }}</span>
                        <span class="heading-title-transactions">{{ transaction.updated | date('Y-m-d H:i:s') }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>
