{% extends 'layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>{{ "Generate Label" | trans }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media (max-aspect-ratio: 3/2) {
            .logos-div {
                text-align: center !important; /* cyan */
            }
        }
    </style>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {{ parent() }}
    {% endblock notice %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="header">
                <h1>{{ "Label Preview" | trans }}</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-offset-3">
            <div class="card col-md-8" style="margin: auto; border: 1px solid transparent; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 15px; background-color: whitesmoke;">
                <div class="py-5 text-center logos-div" style="display: inline-block; text-align: left; width: 100%; position: relative; margin-bottom: 10px">
                    <div style="display: inline-block; position: relative; left: 0;">
                        <img class="mt-3 card-img-top" src="{{ asset('resources/pdf_logo.png') }}" alt="logo" width="50" height="50" style="margin-top: 15px">
                        <div style="display: inline-block">
                            <h3 class="m-0 lh-1 f-bold">{{ "Battery" | trans }}</h3>
                            <h3 class="m-0 float-left lh-1 f-bold">{{ "Chain" | trans }}</h3>
                        </div>
                    </div>
                    {% if battery.manufacturer.logo is not null %}
                        <div style="display: inline-block; text-align: center; margin: 0 30px;">
                            <img class="mt-3 card-img-top" style="object-fit: contain;" src="{{ battery.manufacturer.logo | preSignedUrl(logo_aws_path) }}" alt="" width="200" height="80">
                        </div>
                    {% endif %}
                </div>
                <hr class="m-0">
                <div class="card-body">
                    <div class="text-right" style="margin: 5px">
                        <span>
                            {{ battery.manufacturer.address ~ ' * ' }}
                        </span>
                        <span class="ml-1">
                            <b>
                                {{ 'Tel.:' | trans }}
                            </b>
                            {{ battery.manufacturer.contact ~ ' * ' }}
                        </span>
                        <span class="ml-1">
                            <b>
                                {{ 'Email:' | trans }}
                            </b>
                            {{ battery.manufacturer.user.email }}
                        </span>
                    </div>
                    <hr class="m-0">
                    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                        <div class="col-md-6">
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Battery Type" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.batteryType.type }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Nominal Voltage" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.nominalVoltage ~ ' V' }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Module Type" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.moduleType }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Production Date" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.productionDate | date('Y-m-d') }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Tray Number" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.trayNumber }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Serial Number" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.serialNumber }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Internal Serial Number" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.internalSerialNumber }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Nominal Energy" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.nominalEnergy ~ ' kWh' }}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Nominal Capacity" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.nominalCapacity ~ ' Ah'}}</span>
                            </div>
                            <div>
                                <h6 class="card-title" style="margin: 0;">{{ "Weight" | trans }}</h6>
                                <span class="card-text" style="font-size: medium; font-weight: bold">{{ battery.mass ~ ' kg' }}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                        <div class="col-md-6">
                            <div>
                                <img src="{{ qr_code_data_uri(url('battery_detail_id', {'id': battery.internalSerialNumber}), 'default') }}" alt="QR Code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-bottom: 10px">
                                <img style="margin-right: 5px" src="{{ asset('resources/icons/manual.svg') }}" alt="" width="30" height="30">
                                <img style="margin: 0 5px" src="{{ asset('resources/icons/warning.svg') }}" alt="" width="30" height="30">
                                <img style="margin: 0 5px" src="{{ asset('resources/icons/high_voltage.svg') }}" alt="" width="30" height="30">
                            </div>
                            <div>
                                <img style="margin-right: 10px" src="{{ asset('resources/icons/garbage_can.png') }}" alt="" width="30" height="30">
                                <p style="font-weight: bold; margin-left: 5px">
                                    {{ battery.batteryType.identifier }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 text-right">
            <div class="card col-md-8" style="margin: auto; border: 1px solid transparent; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 15px; background-color: whitesmoke;">
                <a class="back btn btn-outline-green w-10" href="{{ path }}"> {{ "Back" | trans }}</a>
                <a class="back btn btn-green w-10 margin-r-5" href="{{ downloadPath }}" target="_blank"> {{ "Download" | trans }}</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}