{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>{{ "Bulk Import" }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .alert-light {
            background-color: #d1ecf1;
        }
        .sample-csv {
            text-decoration: none !important;
            text-underline: none !important;
        }
    </style>
{% endblock %}

{% block sonata_admin_content %}
    <div class="container">
        <div class="row">
            <div class="alert alert-light" role="alert">
                <i class="fa fa-info-circle margin-r-5"></i>
                <span class="margin-bottom">
                    {{ "Possible Battery Types with Statuses are these: "}}
                </span>
                <ul>
                    {% for type in battery_types %}
                        <li>
                            {{ type.id }} {{ 'means' }} <b>{{ type.type }}</b>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="alert alert-light">
        <span>
            <i class="fa fa-info-circle margin-r-5"></i>
            {{ "Production date format should be like this 'yyyy-mm-dd' i.e 2022-12-31" | trans }}
        </span>
    </div>
    <div class="alert alert-light">
        <span>
            <i class="fa fa-info-circle margin-r-5"></i>
            {{ "You can download sample csv file and view which headers to be used." | trans }}
        </span>
        <a href="{{ asset('resources/csv/bulk_import_sample.csv') }}" target="_blank"
           class="sample-csv font-light label label-success">
                {{ " Sample CSV" | trans }}
        </a>
    </div>
    {{ form(form) }}
{% endblock %}