{% extends 'layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>{{ "Add Delivery" }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block sonata_admin_content %}
    {% block notice %}
        {{ parent() }}
    {% endblock notice %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_row(form.battery) }}
                <hr class="extra-info-separator">
                {{ form_row(form.information) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}