{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 960px;
        }
        #qr-img {
            width: 100%;
        }
        @media (max-width: 767px) {
            #battery_detail_form_search {
                width: 100%;
            }
            .div-captcha {
                display: flex;
                text-align: center;
                justify-content: space-around;
            }
            #battery-detail-form {
                padding: 0 15px;
            }
            #qr-img {
                width: 50%;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <body class="bg-light d-flex flex-column min-vh-100">
        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="{{ asset('resources/logo.ico') }}" alt="" width="72" height="72">
                <h2>{{ "Battery Chain" | trans }}</h2>
            </div>
            <div class="row">
                <div id="flash-messages">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message|raw }}
                                <i class="fa fa-close float-right close-flash-message"></i>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-8 mb-4">
                    {{ form_start(searchForm, {'attr': { 'class': 'needs-validation', 'id': 'battery-detail-form', 'novalidate': 'novalidate'}}) }}
                        <div class="mb-3">
                            <label for="serialNumber">{{ "Serial Number" }}</label>
                            {{ form_widget(searchForm.battery) }}
                            <div class="invalid-feedback">
                                {{ "Please enter a valid serial number." }}
                            </div>
                        </div>
                        <div class="mb-3 col-md-12 col-sm-12">
                            <div class="mb-3 mt-2 p-0 div-captcha">
                                <div class="g-recaptcha p-0" data-sitekey="{{ gg_recaptcha_site_key }}"></div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        {{ form_row(searchForm.search) }}
                    {{ form_end(searchForm) }}
                </div>
                <div class="col-md-4 col-sm-12 scan-qr-div mb-4">
                    <div class="mb-3">
                        <div class="text-center" style="padding: 10px 60px">
                            <img src="{{ asset('resources/qr-code-scan.svg') }}" id="qr-img"/>
                        </div>
                        <div class="d-grid gap-2" style="padding: 0 10px">
                            <a href="{{ path('scan_qr') }}" class="btn btn-primary btn-block">
                                <i class="fa fa-qrcode"></i> {{ "Scan QR" | trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}

        <script>
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </body>
{% endblock %}
