{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
        }
        .sub-header-div {
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: right;
        }
        .heading {
            font-size: large;
            font-weight: normal;
        }
        .row-border-bottom {
            line-height: 2;
            border-bottom: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="flash-messages">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                    <i class="fa fa-close float-right close-flash-message"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container p-tb-5 mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="mt-5">
                    <div class="p-3 border card-body cardbody-color p-lg-5">
                        <div class="header-div">
                            <div>
                                <img src="{{ asset('resources/logo.ico') }}" class="img-fluid detail-page-logo img-thumbnail my-3"
                                     width="50px" alt="profile">
                                <h2 style="display: inline-block">
                                    {{ battery.manufacturer.name | upper }}
                                </h2>
                            </div>
                        </div>
                        <hr class="mb-0">
                        <div class="sub-header-div">
                            <span>
                                {{ battery.manufacturer.address ~ ' * ' }}
                            </span>
                            <span class="ml-1">
                                {{ 'Tel.:' | trans }}
                                {{ battery.manufacturer.contact ~ ' * ' }}
                            </span>
                            <span class="ml-1">
                                {{ 'Email:' | trans }}
                                {{ battery.manufacturer.user.email }}
                            </span>
                        </div>
                        <hr class="mt-0">
                        <div class="p-rl-12">
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Serial Number" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.serialNumber }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Status" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.status | capitalize }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Type" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.batteryType.type }}
                                    </span>
                                </div>
                            </div>
                            {% if battery.cellType != '' and battery.cellType is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Cell Type" | trans }}
                                     </span>
                                    </div>
                                    <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.cellType }}
                                    </span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if battery.moduleType != '' and battery.moduleType is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                        <span class="heading">
                                            {{ "Module Type" | trans }}
                                         </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="float-right">
                                            {{ battery.moduleType }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Production Date" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.productionDate | date('Y-m-d') }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Tray Number" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.trayNumber }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Voltage" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalVoltage }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Capacity" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalCapacity }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Energy" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalEnergy }}
                                    </span>
                                </div>
                            </div>
                            {% if battery.acidVolume != '' and battery.acidVolume is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                        <span class="heading">
                                            {{ "Acid Volume" | trans }}
                                         </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="float-right">
                                            {{ battery.acidVolume }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if battery.co2 != '' and battery.co2 is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                        <span class="heading">
                                            {{ "CO2" | trans }}
                                         </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="float-right">
                                            {{ battery.co2 }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Cycle Life" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.cycleLife }}
                                    </span>
                                </div>
                            </div>
                            {% if battery.height != 0 and battery.height is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                        <span class="heading">
                                            {{ "Height" | trans }}
                                         </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="float-right">
                                            {{ battery.height }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if battery.width != 0 and battery.width is not null  %}
                                <div class="row p-0 row-border-bottom p-tb-5">
                                    <div class="col-md-4 p-0">
                                        <span class="heading">
                                            {{ "Width" | trans }}
                                         </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="float-right">
                                            {{ battery.width }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Mass" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.mass }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row-div">
                            <a class="mt-10 btn btn-success mr-5" href="{{ path('add_return', {"slug": battery.serialNumber}) }}"> {{ "Add Return" | trans }}</a>
                            <a class="mt-10 btn btn-success mr-5" href="{{ path('report_battery_return', {"slug": battery.serialNumber}) }}"> {{ "Report Recycled Battery" | trans }}</a>
                            <a class="mt-10 btn btn-primary mr-5" href="{{ path('download', {"slug": battery.serialNumber}) }}" target="_blank"> {{ "Download" | trans }}</a>
                            <a class="mt-10 btn btn-light" href="{{ path('homepage') }}"> {{ "Back" | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}