{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            position: relative;
        }
        .sub-header-div {
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: right;
        }
        .heading {
            font-size: large;
            font-weight: normal;
        }
        .row-border-bottom {
            line-height: 2;
            border-bottom: 1px solid lightgray;
        }
        .status-div {
            padding: 0 7px;
            font-weight: bold;
        }
        .status-div span {
            font-size: 1.25rem;
        }
        .status-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .intro {
            font-weight: 100;
            font-size: 0.9rem;
        }
        .btn-download {
            position: absolute;
            right: 0;
        }
        .row-div {
            width: 100%;
        }
        .btn-download:hover, .btn-download:hover {
            text-decoration: none !important;
            color: #212529 !important;
            border-color: #212529 !important;
            background-color: white;
        }
        @media (max-width: 767px) {
            .row-div {
                display: table;
            }
            .row-div a {
                width: 100%;
            }
            .sub-header-div {
                display: table;
            }
            .sub-header-div span {
                display: block;
            }
            .sub-header-div span.ml-1 {
                margin: 0 !important;
            }
            .page-heading {
                margin-top: 1rem;
                display: block !important;
                float: none !important;
            }
            .page-heading h2 {
                float: none !important;
            }
            .page-heading br {
                display: none;
            }
            .btn-download {
                position: relative;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <body class="bg-light d-flex flex-column min-vh-100">
    <div id="flash-messages">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                    <i class="fa fa-close float-right close-flash-message"></i>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container p-tb-5 mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1 ps-6 pb-2 pt-5 text-left">
                <a href="{{ path('homepage') }}" class="homepage-link">
                    <div style="display: inline-block">
                        <img class="mt-3" src="{{ asset('resources/batterychain_logo.png') }}" alt="" width="72" height="72">
                    </div>
                    <div style="display: inline-block">
                        <h1 class="m-0 lh-1">{{ "Battery" | trans }}</h1>
                        <h1 class="m-0 float-left lh-1">{{ "Chain" | trans }}</h1>
                    </div>
                </a>
                <div class="page-heading pe-5" style="display: inline-block; float: right; padding-top: 1rem">
                    <h2 class="m-0 float-right lh-1">{{ "Battery" | trans | upper }}</h2><br>
                    <h2 class="m-0 float-right lh-1">{{ "Information" | trans | upper }}</h2><br>
                    <h2 class="m-0 float-right lh-1">{{ "Overview" | trans | upper }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="">
                    <div class="p-3 card-body ps-5 pe-5 pb-5 pt-5">
                        <div class="row text-left pb-5 intro">
                            <span>
                                {{ "Here you will find an overview of all information about your battery. At the bottom you can register your battery for a pickup service (if supported for your area) or get disposal information" | trans }}
                            </span>
                        </div>
                        <div class="header-div">
                            <div>
                                <h2 style="display: inline-block">
                                    {{ battery.manufacturer.name | upper }}
                                </h2>
                            </div>
                            <a class="btn-outline-dark mr-5 btn-download"
                               href="{{ path('download', {"slug": battery.serialNumber}) }}"
                               target="_blank">
                                <i class="far fa-file-pdf fa-3x"></i>
                            </a>
                        </div>
                        <hr class="mb-0">
                        <div class="sub-header-div">
                            <span>
                                {{ battery.manufacturer.address ~ ' * ' }}
                            </span>
                            <span class="ml-1">
                                <b>
                                    {{ 'Tel.:' | trans }}
                                </b>
                                {{ battery.manufacturer.contact ~ ' * ' }}
                            </span>
                            <span class="ml-1">
                                <b>
                                    {{ 'Email:' | trans }}
                                </b>
                                {{ battery.manufacturer.user.email }}
                            </span>
                        </div>
                        <hr class="mt-0">
                        <div class="p-rl-12">
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Serial Number" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.serialNumber }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Type" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.batteryType.type }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                <span class="heading">
                                    {{ "Cell Type" | trans }}
                                 </span>
                                </div>
                                <div class="col-md-8">
                                <span class="float-right">
                                    {{ battery.cellType }}
                                </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Module Type" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.moduleType }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Production Date" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.productionDate | date('Y-m-d') }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Tray Number" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.trayNumber }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Voltage" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalVoltage ~ ' V'}}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Capacity" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalCapacity ~ ' Ah'}}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Nominal Energy" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.nominalEnergy ~ ' kWh' }}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Acid Volume" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {% if battery.acidVolume != 0 and battery.acidVolume is not null  %}
                                            {{ battery.acidVolume ~ ' l' }}
                                        {% else %}
                                            {{ battery.acidVolume }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "CO" | trans }}<sub>{{ "2" }}</sub>
                                        {{ "Footprint" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {% if battery.co2 != 0 and battery.co2 is not null  %}
                                            {{ battery.co2 ~ ' kg' }}
                                        {% else %}
                                            {{ battery.co2 }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Height" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {% if battery.height != 0 and battery.height is not null  %}
                                            {{ battery.height ~ ' cm' }}
                                        {% else %}
                                            {{ battery.height }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Width" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {% if battery.width != 0 and battery.width is not null  %}
                                            {{ battery.width ~ ' cm' }}
                                        {% else %}
                                            {{ battery.width }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Length" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {% if battery.length != 0 and battery.length is not null  %}
                                            {{ battery.length ~ ' cm' }}
                                        {% else %}
                                            {{ battery.length }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row p-0 row-border-bottom p-tb-5">
                                <div class="col-md-4 p-0">
                                    <span class="heading">
                                        {{ "Weight" | trans }}
                                     </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="float-right">
                                        {{ battery.mass ~ ' kg' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ps-5 pe-5 pb-2 pti-0">
                        <div class="status-div p-0">
                            <div class="status-content">
                                <span>
                                    {{ "Status" | trans }}
                                </span>
                                <span class="float-right">
                                    {{ battery.status | capitalize | trans }}
                                </span>
                            </div>
                            {% if detail is not null %}
                                <div class="status-info">
                                    <small>
                                        <i class="fa fa-info-circle"></i>
                                        {{ detail }}
                                    </small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-3 card-body ps-5 pe-5 pb-5 pti-0">
                        <div class="row-div">
                            {% if battery.status == 'registered' or battery.status == 'delivered' %}
                                <a class="mt-10 btn btn-success btn-green mr-5" href="{{ path('add_return', {"slug": battery.serialNumber}) }}"> {{ "Pickup Battery" | trans }}</a>
                            {% elseif battery.status == 'returned' %}
                                <a class="mt-10 btn btn-success btn-green mr-5" href="{{ path('report_battery_return', {"slug": battery.serialNumber}) }}"> {{ "Report as recycled/Disposed" | trans }}</a>
                            {% endif %}
                            <a class="mt-10 btn btn-light btn-outline-green" href="{{ path('homepage') }}"> {{ "Back" | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
    </body>
{% endblock %}