<!DOCTYPE html>
<html>
<head>
    <title>{{ "New Battery Return" | trans }}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            display: inline-block;
            clear: both;
        }
        .label {
            font-size: 16px;
        }
        .battery-detail-div {
            width: max-content;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            padding: 1rem 3rem;
        }
        .battery-detail-div p {
            font-size: 15px;
        }

        .battery-detail-div p b {
            font-size: 16px;
        }
        .left {
            float: left;
        }
        .clearfix::after {
            display: table;
            content: "";
            clear: both;
        }
        .m-0 {
            margin: 0;
        }
    </style>
</head>
<body>
    <span>{{ "Dear Recycler," | trans }}</span>
    <p>
        {{ "A new battery return has been added by" | trans }} {{ body.user.name }}
        <a href="mailto:{{ body.user.email }}"> {{ body.user.email }} </a>.
    </p>
    <p>
        {{ "Please find below some highlight details of Battery:" | trans }}
    </p>
    <div class="row" style="margin-bottom:20px;">
        <div class="column" style="margin-bottom: 15px;">
            <div class="clearfix">
                <div class="battery-detail-div">
                    <p>
                        <b>{{ "Serial Number" | trans }}</b> {{ body.battery.serialNumber }}
                    </p>
                    <p>
                        <b>{{ "Manufacturer Name" | trans }}</b> {{ body.battery.manufacturer.name }}
                    </p>
                    <p>
                        <b>{{ "Type" | trans }}</b> {{ body.battery.batteryType.type }}
                    </p>
                    <p>
                        <b>{{ "Nominal Voltage" | trans }}</b> {{ body.battery.nominalVoltage }}
                    </p>
                    <p>
                        <b>{{ "Nominal Capacity" | trans }}</b> {{ body.battery.nominalCapacity }}
                    </p>
                    <p>
                        <b>{{ "Nominal Energy" | trans }}</b> {{ body.battery.nominalEnergy }}
                    </p>
                    <p>
                        <b>{{ "Cycle Life" | trans }}</b> {{ body.battery.cycleLife }}
                    </p>
                    <p>
                        <b>{{ "Height" | trans }}</b> {{ body.battery.height }}
                    </p>
                    <p>
                        <b>{{ "Width" | trans }}</b> {{ body.battery.width }}
                    </p>
                    <p>
                        <b>{{ "Mass" | trans }}</b> {{ body.battery.mass }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>
            <br><br>
            {{ "Your Batterychain Team" | trans }}
        </p>
        <br>
        <br>
    </div>
    <div style="clear: both;"></div>
    {{ include('email_templates/footer.html.twig') }}
</body>
</html>