<!DOCTYPE html>
<html>
<head>
    <title>{{ "New Battery Return" | trans }}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            display: inline-block;
            clear: both;
        }
        .label {
            font-size: 16px;
        }
        .battery-detail-div {
            align-items: center;
            justify-content: space-between;
            width: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            padding: 1rem 3rem;
        }
        .battery-detail-div p {
            font-size: 15px;
        }

        .battery-detail-div p b {
            font-size: 16px;
        }
        .left {
            float: left;
        }
        .clearfix::after {
            display: table;
            content: "";
            clear: both;
        }
        .m-0 {
            margin: 0;
        }
        .mt-0 {
            margin-top: 0;
        }
        .mb-0 {
            margin-bottom: 0;
        }
        #link-main-url {
            text-decoration: none;
            text-underline: none;
        }
    </style>
</head>
<body>
    <span>{{ "Dear Recycler," | trans }}</span>
    <p>
        {{ "A new battery return has been added by" | trans }} {{ body.user.name ~ '.'}}
    </p>
    <p class="mb-0">
        {{ "Please find below some highlight details of Battery:" | trans }}
    </p>
    <div class="row" style="margin-bottom:20px;">
        <div class="clearfix">
            <div class="column" style="margin-bottom: 15px;">
                <div class="clearfix">
                    <div class="battery-detail-div">
                        <p class="m-0">
                            <b>{{ "Serial Number" | trans }}</b>
                            <span style="float: right">
                                {{ body.battery.serialNumber }}
                            </span>
                        </p>
                        <p class="m-0">
                            <b>{{ "Manufacturer Name" | trans }}</b>
                            <span style="float: right">
                                {{ body.battery.manufacturer.name }}
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="mb-0">
                            {{ "To see more details of the battery. Click" }}
                            <a href="{{ body.detail }}" target="_blank"> {{ "here" }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <p class="mb-0">
            {{ "Please contact" | trans }} {{ body.user.name }} {{ "for further discussion" }}
        </p>
        <ul class="mt-0">
            {% if body.user.email is not null %}
                <li>
                    {{ "Email: " }} <a href="mailto:{{ body.user.email }}"> {{ body.user.email }} </a>
                </li>
            {% endif %}
            {% if body.user.contact is not null %}
                <li>
                    <span> {{ "Contact: " ~ body.user.contact }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <p>
            <br><br>
            {{ "Your Batterychain Team" | trans }}
        </p>
        <br>
        <br>
    </div>
    <div style="clear: both;"></div>
    {{ include('email_templates/footer.html.twig') }}
</body>
</html>