{% extends 'layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>{{ "Update Profile" }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .mt-1 {
            margin-top: 1rem;
        }
        .m-r-1 {
            margin-right: 1rem;
        }
        .w-100 {
            width: 100px;
        }
    </style>
{% endblock %}

{% block sonata_page_content %}
    <section class="content-header">
        <div class="sticky-wrapper" style="">
            <nav class="navbar navbar-default" role="navigation" style="width: auto;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">{{ 'Edit "' ~ app.user.manufacturer.name ~ '"'}}</a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                    {{ "Manufacturer" | trans }}
                </h4>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    {{ form_start(updateProfileForm) }}

                    {% if app.user.manufacturer.logo is not null and app.user.manufacturer.logo != '' %}
                        <img style="object-fit: contain" src="{{ app.user.manufacturer.logo | preSignedUrl(logo_aws_path) }}" height="100" width="100"  alt="logo" class="manufacturer_logo"/>
                    {% endif %}

                    {% if app.user.manufacturer.logo is null or app.user.manufacturer.logo == '' %}
                        <br>
                        <img src="{{ asset(no_image_path) }}" height="100" width="100"  alt="logo" class="manufacturer_logo"/>
                    {% endif %}

                    {{ form_row(updateProfileForm.logoFile) }}
                    {{ form_row(updateProfileForm.firstname) }}
                    {{ form_row(updateProfileForm.lastname) }}
                    {{ form_row(updateProfileForm.contact) }}
                    {{ form_row(updateProfileForm.address) }}
                    {{ form_row(updateProfileForm.postalCode) }}
                    {{ form_row(updateProfileForm.city) }}
                    {{ form_row(updateProfileForm.country) }}

                    <div class="mt-1">
                        <button type="submit" class="btn btn-green m-r-1 px-5 mb-2 w-100">{{ "Update" }}</button>
                        <a class="btn btn-outline-green" href="{{ path('sonata_admin_dashboard') }}">{{ "Cancel" }}</a>
                    </div>
                    {{ form_end(updateProfileForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}