<div class="report-filter">
    <form id="reportFiltersForm" method="post">
        <div class="filters__first">
            <div class="col-xs-12 col-md-12">
                <div class="row">
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <div class="col-sm-12 col-md-4">
                            <ul class="filters__checklists">
                                <h4 class="mb-0">{{ 'Manufacturer'|trans }}{{ ":" }}</h4>
                                <li>
                                    <label>
                                        <select name="manufacturer" class="manufacturer-filter">
                                            <option value="-1" disabled>{{ 'Select Manufacturer'|trans }}</option>
                                            {% for manufacturer in manufacturers %}
                                                <option
                                                        {% if app.request.get('manufacturer') is defined and app.request.get('manufacturer') is not empty %}
                                                            {% if app.request.get('manufacturer') == manufacturer.name %}
                                                                selected
                                                            {% endif %}
                                                        {% endif %}
                                                        value="{{ manufacturer.name }}">{{ manufacturer.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-4">
                        {% set modeArray = { 'all': 'All Batteries', 'registered': 'Registered Batteries', 'delivered': 'Delivered Batteries', 'returned': 'Returned Batteries', 'recycled': 'Recycled Batteries'} %}
                        <ul class="filters__checklists">
                            <h4 class="mb-0">{{ 'Report Mode'|trans }}{{ ":" }}</h4>
                            <li>
                                <label>
                                    <select name="mode" class="mode-filter">
                                        <option value="-1" disabled selected>{{ 'Select Report Mode'|trans }}</option>
                                        {% for key, value in modeArray %}
                                            <option
                                                    {% if app.request.get('mode') is defined and app.request.get('mode') is not empty %}
                                                        {% if modeArray[app.request.get('mode')] == value %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}
                                                    value="{{ key }}">{{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4>{{ 'Period'|trans }}{{ ":" }}</h4>
                        <div class="icon-addon addon-sm">
                            <input readonly type="text" class="form-control" id="period" name="period"
                                   value="{{ app.request.get('period') }}" placeholder="{{ "Select range"|trans }}">
                            <label for="period" class="fa fa-calendar" rel="tooltip" title="period"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h4>{{ 'Nominal Voltage'|trans }}{{ ":" }}</h4>
                        {% set minValue = 0 %}
                        {% set maxValue = 1000 %}
                        {% if app.request.get('nominal_voltage_range') %}
                            {% set nominalVoltageRange = app.request.get('nominal_voltage_range')|split(',') %}
                            {% set minValue = nominalVoltageRange[0] %}
                            {% set maxValue = nominalVoltageRange[1] %}
                        {% endif %}
                        <input id="nominalVoltageRange" type="text" name="nominal_voltage_range" value=""
                               data-slider-min="0" data-slider-max="1000" data-slider-step="100"
                               data-slider-value="[{{ minValue }}, {{ maxValue }}]"/>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4>{{ 'Nominal Capacity'|trans }}{{ ":" }}</h4>
                        {% set minValue = 0 %}
                        {% set maxValue = 1000 %}
                        {% if app.request.get('nominal_capacity_range') %}
                            {% set nominalCapacityRange = app.request.get('nominal_capacity_range')|split(',') %}
                            {% set minValue = nominalCapacityRange[0] %}
                            {% set maxValue = nominalCapacityRange[1] %}
                        {% endif %}
                        <input id="nominalCapacityRange" type="text" name="nominal_capacity_range" value=""
                               data-slider-min="0" data-slider-max="1000" data-slider-step="100"
                               data-slider-value="[{{ minValue }}, {{ maxValue }}]"/>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4>{{ 'Nominal Energy' | trans }}{{ ":" }}</h4>
                        {% set minValue = 0 %}
                        {% set maxValue = 1000 %}
                        {% if app.request.get('nominal_energy_range') %}
                            {% set nominalEnergyRange = app.request.get('nominal_energy_range')|split(',') %}
                            {% set minValue = nominalEnergyRange[0] %}
                            {% set maxValue = nominalEnergyRange[1] %}
                        {% endif %}
                        <input id="nominalEnergyRange" type="text" name="nominal_energy_range" value=""
                               data-slider-min="0" data-slider-max="1000" data-slider-step="100"
                               data-slider-value="[{{ minValue }}, {{ maxValue }}]"/>
                    </div>
                </div>
            </div>
        </div> {#filters__first#}
    </form>
    <div class="clearfix"></div>
    <div class="div-align-right">
        <a class="mt-10 btn btn-green mr-5 get-report" id="report-btn" target="_blank"> {{ "Get Report" | trans }}</a>
    </div>
</div>
<div class="clearfix"></div>
