<div class="report-filter">
    <form id="reportFiltersForm" method="post">
        <div class="filters__first">
            <div class="col-xs-12 col-md-12">
                <div class="row">
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <div class="col-sm-12 col-md-4">
                            <ul class="filters__checklists">
                                <h4 class="mb-0">{{ 'Manufacturer'|trans }}{{ ":" }}</h4>
                                <li style="width: 100%;">
                                    <label style="width: 100%;">
                                        <select name="manufacturer" class="manufacturer-filter">
                                            <option value="-1" disabled>{{ 'Select Manufacturer'|trans }}</option>
                                            {% for manufacturer in manufacturers %}
                                                <option
                                                        {% if app.request.get('manufacturer') is defined and app.request.get('manufacturer') is not empty %}
                                                            {% if app.request.get('manufacturer') == manufacturer.name %}
                                                                selected
                                                            {% endif %}
                                                        {% endif %}
                                                        value="{{ manufacturer.name }}">{{ manufacturer.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-4">
                        {% set modeArray = { 'all': 'All Batteries', 'registered': 'Registered Batteries', 'delivered': 'Delivered Batteries', 'returned': 'Returned Batteries', 'recycled': 'Recycled Batteries'} %}
                        <ul class="filters__checklists">
                            <h4 class="mb-0">{{ 'Report Mode'|trans }}{{ ":" }}</h4>
                            <li style="width: 100%;">
                                <label style="width: 100%;">
                                    <select name="mode" class="mode-filter">
                                        <option value="-1" disabled selected>{{ 'Select Report Mode'|trans }}</option>
                                        {% for key, value in modeArray %}
                                            <option
                                                    {% if app.request.get('mode') is defined and app.request.get('mode') is not empty %}
                                                        {% if modeArray[app.request.get('mode')] == value %}
                                                            selected
                                                        {% endif %}
                                                    {% endif %}
                                                    value="{{ key }}">{{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h4>{{ 'Period'|trans }}{{ ":" }}
                            <small>
                                <i class="fa fa-info-circle" title="{{ "Production Date" }}"></i>
                            </small>
                        </h4>
                        <div class="icon-addon addon-sm">
                            <input readonly type="text" class="form-control" id="period" name="period"
                                   value="{{ app.request.get('period') }}" placeholder="{{ "Select range"|trans }}"
                                   style="border-radius: 5px; width: 100%">
                            <label for="period" class="fa fa-calendar" rel="tooltip" title="period"></label>
                        </div>
                    </div>
                </div>
                <div class="details--filters">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <ul class="filters__checklists">
                                <h4 class="mb-0">{{ 'Battery Type'|trans }}{{ ":" }}</h4>
                                <li style="width: 100%;">
                                    <label style="width: 100%;">
                                        <select name="type" class="type-filter">
                                            <option value="-1" disabled>{{ 'Select Battery Type'|trans }}</option>
                                            <option value="all" selected>{{ 'All types'|trans }}</option>
                                            {% for type in types %}
                                                <option
                                                        {% if app.request.get('type') is defined and app.request.get('type') is not empty %}
                                                            {% if app.request.get('type') == manufacturer.type %}
                                                                selected
                                                            {% endif %}
                                                        {% endif %}
                                                        value="{{ type.type }}">{{ type.type }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4 class="mb-0">{{ 'Tray number'|trans }}{{ ":" }}</h4>
                            <label style="width: 100%;">
                                <input type="text" class="tray-number-filter form-control" name="tray_number"
                                       style="border-radius: 5px; width: 100%"
                                       value="{{ app.request.get('tray_number') }}" placeholder="{{ "Enter tray number" | trans }}">
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4 class="mb-0">{{ 'Search Text'|trans }}{{ ":" }}
                                <small>
                                    <i class="fa fa-info-circle" title="{{ "Will search Cell Type or Module Type of relevant batteries" }}"></i>
                                </small>
                            </h4>
                            <label style="width: 100%;">
                                <input type="text" class="search-text-filter form-control" name="search_text"
                                       style="border-radius: 5px; width: 100%"
                                       value="{{ app.request.get('search_text') }}" placeholder="{{ "Enter text..." | trans }}">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Nominal Voltage'|trans }}{{ ":" }}</h4>
                            {% set minValue = 0 %}
                            {% set maxValue = 300 %}
                            {% if app.request.get('nominal_voltage_range') %}
                                {% set nominalVoltageRange = app.request.get('nominal_voltage_range')|split(',') %}
                                {% set minValue = nominalVoltageRange[0] %}
                                {% set maxValue = nominalVoltageRange[1] %}
                            {% endif %}
                            <label for="nominalVoltageRange" style="width: 100%;">
                                <input id="nominalVoltageRange" type="text" name="nominal_voltage_range" value=""
                                       data-slider-min="0" data-slider-max="300" data-slider-step="50"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       class="form-control"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Nominal Capacity'|trans }}{{ ":" }}</h4>
                            {% set minValue = 0 %}
                            {% set maxValue = 300 %}
                            {% if app.request.get('nominal_capacity_range') %}
                                {% set nominalCapacityRange = app.request.get('nominal_capacity_range')|split(',') %}
                                {% set minValue = nominalCapacityRange[0] %}
                                {% set maxValue = nominalCapacityRange[1] %}
                            {% endif %}
                            <label for="nominalCapacityRange" style="width: 100%;">
                                <input id="nominalCapacityRange" type="text" name="nominal_capacity_range" value=""
                                       data-slider-min="0" data-slider-max="300" data-slider-step="50"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Nominal Energy' | trans }}{{ ":" }}</h4>
                            {% set minValue = 0 %}
                            {% set maxValue = 300 %}
                            {% if app.request.get('nominal_energy_range') %}
                                {% set nominalEnergyRange = app.request.get('nominal_energy_range')|split(',') %}
                                {% set minValue = nominalEnergyRange[0] %}
                                {% set maxValue = nominalEnergyRange[1] %}
                            {% endif %}
                            <label for="nominalEnergyRange" style="width: 100%;">
                                <input id="nominalEnergyRange"
                                       type="text" name="nominal_energy_range" value=""
                                       data-slider-min="0" data-slider-max="300" data-slider-step="50"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Width'|trans }}{{ ":" }}</h4>
                            {% set minValue = 10 %}
                            {% set maxValue = 500 %}
                            {% if app.request.get('width_range') %}
                                {% set widthRange = app.request.get('width_range')|split(',') %}
                                {% set minValue = widthRange[0] %}
                                {% set maxValue = widthRange[1] %}
                            {% endif %}
                            <label for="widthRange" style="width: 100%;">
                                <input id="widthRange" type="text" name="width_range" value=""
                                       data-slider-min="10" data-slider-max="500" data-slider-step="10"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       class="form-control"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Height'|trans }}{{ ":" }}</h4>
                            {% set minValue = 10 %}
                            {% set maxValue = 500 %}
                            {% if app.request.get('height_range') %}
                                {% set heightRange = app.request.get('height_range')|split(',') %}
                                {% set minValue = heightRange[0] %}
                                {% set maxValue = heightRange[1] %}
                            {% endif %}
                            <label for="heightRange" style="width: 100%;">
                                <input id="heightRange" type="text" name="height_range" value=""
                                       data-slider-min="10" data-slider-max="500" data-slider-step="10"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Length' | trans }}{{ ":" }}</h4>
                            {% set minValue = 10 %}
                            {% set maxValue = 500 %}
                            {% if app.request.get('length_range') %}
                                {% set lengthRange = app.request.get('length_range')|split(',') %}
                                {% set minValue = lengthRange[0] %}
                                {% set maxValue = lengthRange[1] %}
                            {% endif %}
                            <label for="lengthRange" style="width: 100%;">
                                <input id="lengthRange"
                                       type="text" name="length_range" value=""
                                       data-slider-min="10" data-slider-max="500" data-slider-step="10"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ "CO" | trans }}<sub>{{ "2" }}</sub>
                                {{ "Footprint" | trans }}{{ ":" }}</h4>
                            {% set minValue = 0 %}
                            {% set maxValue = 500 %}
                            {% if app.request.get('co2_range') %}
                                {% set cO2Range = app.request.get('co2_range')|split(',') %}
                                {% set minValue = cO2Range[0] %}
                                {% set maxValue = cO2Range[1] %}
                            {% endif %}
                            <label for="cO2Range" style="width: 100%;">
                                <input id="cO2Range" type="text" name="co2_range" value=""
                                       data-slider-min="0" data-slider-max="500" data-slider-step="50"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       class="form-control"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>{{ 'Acid Volume'|trans }}{{ ":" }}</h4>
                            {% set minValue = 0 %}
                            {% set maxValue = 500 %}
                            {% if app.request.get('acid_volume_range') %}
                                {% set acidVolumeRange = app.request.get('acid_volume_range')|split(',') %}
                                {% set minValue = acidVolumeRange[0] %}
                                {% set maxValue = acidVolumeRange[1] %}
                            {% endif %}
                            <label for="acidVolumeRange" style="width: 100%;">
                                <input id="acidVolumeRange" type="text" name="acid_volume_range" value=""
                                       data-slider-min="0" data-slider-max="500" data-slider-step="50"
                                       data-slider-value="[{{ minValue }}, {{ maxValue }}]"
                                       style="width: 100%;"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div> {#filters__first#}
    </form>
    <div class="clearfix"></div>
    <div class="div-align-right mt-10">
        <div class="filter-search pull-right mt-2 mb-1">
            <a class="btn btn-green mr-5 get-report" id="report-btn" target="_blank"> {{ "Get Report" | trans }}</a>
            <a id="review-filter-btn" class="btn btn-outline-green"><span id="filter-btn-span">Advanced</span> <i id="filter-btn-arrow" class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div class="div-align-right">
    </div>
</div>
<div class="clearfix"></div>
