{% extends 'layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active">
                <span>{{ "Report View" }}</span>
            </li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.css">

    <style>
        .container {
            max-width: 960px;
        }
        ul.filters__checklists {
            margin-top: 0 !important;
            padding-left: 0;
            vertical-align: text-top !important;
        }
        .filters__checklists li{
            display: inline-block !important;
            padding: 0px;
            margin-bottom: 0 !important;
        }
        .white-box-round {
            padding: 20px 20px 20px 20px;
            margin-bottom: 35px;
            border: 1px solid #eae1e1;
            border-radius: 1px;
            background-color: #fff;
        }
        .mode-filter {
            padding: 0 50px 0 10px;
        }
        .icon-addon .fa {
            position: absolute;
            z-index: 2;
            right: 15px;
            font-size: 14px;
            width: 20px;
            margin-left: -2.5px;
            text-align: center;
            padding: 10px 0;
            top: 40px;
        }
        .filter-wraper label {
            font-size: 15px;
            font-weight: 700;
            vertical-align: text-top;
            margin-top: 0 !important;
            display: inline-flex !important;
        }
        #period {
            background-color: #fff;
        }
        .report-content {
            position: relative;
            height: max-content;
            padding: 20px 20px 20px 20px;
            border: 1px solid #eae1e1;
            border-radius: 1px;
            background-color: #fff;
        }
        .div-align-right {
            display: flex;
            align-items: center;
            justify-content: right
        }
        .close-validation-message {
            float: right;
        }
        .report-btns {
            right: 2rem;
            bottom: 2rem;
        }
        .slider-handle {
            background-image: linear-gradient(to bottom, #55bc5e 0%, #55bc5e 100%) !important;
            background-color: #d4edda !important;
        }
        .slider-selection {
            background-image: -webkit-linear-gradient(top, #66CC80 0%, #66CC80 100%);
            background-image: -o-linear-gradient(top, #66CC80 0%, #66CC80 100%);
            background-image: linear-gradient(to bottom, #66CC80 0%, #66CC80 100%);
            background-repeat: repeat-x;
        }
        .details--filters {
            display: none;
        }
        @media (max-width: 768px) {
            .icon-addon .fa {
                top: 30px;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.js"></script>
{% endblock %}

{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="white-box-round">
            <div class="filter-wraper" id="filters_domain">
                <div id="validation-errors" class="alert alert-danger" style="display: none">
                    <span></span>
                    <i class="fa fa-close close-validation-message"></i>
                </div>
                    {% include 'report/_filters.html.twig' with manufacturers %}
            </div>
        </div>
        <div class="report-content" style="display: none">
            <table id="report-response" class="display" style="width:100%"></table>
            <div class="report-btns">
                <div class="div-align-right">
                    <a class="mt-10 btn btn-green mr-5" style="display: none" id="download-report" target="_blank" href="{{ download }}"> {{ "Download" | trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Datepicker jQuery
        $('input[name="period"]').daterangepicker({
            locale: { cancelLabel: 'Clear' }
        });
        $('#period').on('cancel.daterangepicker', function(ev, picker) {
            //do something, like clearing an input
            $(this).data('daterangepicker').setStartDate(moment().format("MM-DD-YYYY")); //date now
            $(this).data('daterangepicker').setEndDate(moment().format("MM-DD-YYYY"));
        });

        function validateForm() {
            if ($('.mode-filter').val() === null) {
                $('#validation-errors').show();
                $('#validation-errors span').html('Kindly Select Mode!');
                $('#report-btn').addClass('disabled');

                return false;
            }

            return true;
        }

        function getReport() {
            var formData = $("#reportFiltersForm").serialize();
            $.ajax({
                url : '/admin/app/battery/getReport',
                type: 'GET',
                data : {
                    formData: formData
                },
                success: function(response) {
                    let newUrl = window.location.href.split('?',1).toString();
                    if (response.status == true) {
                        $('#download-report').show();
                    } else {
                        $('#download-report').hide();
                    }
                    $('.report-content').show();
                    // $('.report-content').html(JSON.parse(response.data));
                    $('#report-response').DataTable({
                        searching: false,
                        data: response.data,
                        columns: [
                            {
                                "title": "Serial Number",
                                "data": "battery.serialNumber"
                            },
                            {
                                "title": "Type",
                                "data": "type"
                            },
                            {
                                "title": "Cell Type",
                                "data": "battery.cellType"
                            },
                            {
                                "title": "Module Type",
                                "data": "battery.moduleType"
                            },
                            {
                                "title": "Production Date",
                                "data": "battery.productionDate.date", render: $.fn.dataTable.render.moment( 'YYYY-MM-DD' )
                            },
                            {
                                "title": "Tray Number",
                                "data": "battery.trayNumber"
                            },
                            {
                                "title": "Voltage",
                                "data": "battery.nominalVoltage",
                                render: function ( data, type, row ) {
                                    return data + ' V';
                                }
                            },
                            {
                                "title": "Capacity",
                                "data": "battery.nominalCapacity",
                                render: function ( data, type, row ) {
                                    return data + ' Ah';
                                }
                            },
                            {
                                "title": "Energey",
                                "data": "battery.nominalEnergy",
                                render: function ( data, type, row ) {
                                    return data + ' kWh';
                                }
                            },
                            {
                                "title": "Acid Volume",
                                "data": "battery.acidVolume",
                                render: function ( data, type, row ) {
                                    if (data != 0) {
                                        return data + ' l';
                                    }

                                    return data;
                                }
                            },
                            {
                                "title": "Co2",
                                "data": "battery.co2",
                                render: function ( data, type, row ) {
                                    if (data != 0) {
                                        return data + ' kg';
                                    }

                                    return data;
                                }
                            },
                            {
                                "title": "Status",
                                "data": "battery.status",
                                render: function ( data, type, row ) {
                                    return data.charAt(0).toUpperCase() + data.slice(1);
                                }
                            },
                        ]
                    });
                    // history.pushState(null, '', newUrl + '?' + formData);
                    $href = $("#download-report").attr('href').split('?', 1).toString();
                    $("#download-report").attr("href", $href + '?' + formData);
                }
            });
        }

        $(document).ready(function(){
            // UMD
            (function( factory ) {
                "use strict";
                if ( typeof define === 'function' && define.amd ) {
                    // AMD
                    define( ['jquery'], function ( $ ) {
                        return factory( $, window, document );
                    } );
                }
                else if ( typeof exports === 'object' ) {
                    // CommonJS
                    module.exports = function (root, $) {
                        if ( ! root ) {
                            root = window;
                        }

                        if ( ! $ ) {
                            $ = typeof window !== 'undefined' ?
                                require('jquery') :
                                require('jquery')( root );
                        }

                        return factory( $, root, root.document );
                    };
                }
                else {
                    // Browser
                    factory( jQuery, window, document );
                }
            }
            (function( $, window, document ) {
                $.fn.dataTable.render.moment = function ( from, to, locale ) {
                    // Argument shifting
                    if ( arguments.length === 1 ) {
                        locale = 'en';
                        to = from;
                        from = 'YYYY-MM-DD';
                    }
                    else if ( arguments.length === 2 ) {
                        locale = 'en';
                    }

                    return function ( d, type, row ) {
                        if (! d) {
                            return type === 'sort' || type === 'type' ? 0 : d;
                        }

                        var m = window.moment( d );

                        // Order and type get a number value from Moment, everything else
                        // sees the rendered value
                        return m.format( type === 'sort' || type === 'type' ? 'x' : to );
                    };
                };
            }));
            setTimeout(function() {
                $('#validation-errors').fadeOut('slow');
            }, 20000);

            $('.close-validation-message').on('click', function () {
                $(this).parent().fadeOut('slow')
            });

            $('#report-btn').addClass('disabled');
            $('.get-report').on('click', function () {
                if (validateForm()) {
                    if ( $.fn.DataTable.isDataTable('#report-response') ) {
                        $('#report-response').DataTable().destroy();
                    }
                    $('#report-response tbody').empty();
                    getReport();
                }
            });
            $('.mode-filter').on('change', function() {
                $('#report-btn').removeClass('disabled');
            });
            $("#nominalVoltageRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' V';
                }
            });
            $("#nominalCapacityRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' Ah';
                }
            });
            $("#nominalEnergyRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' KWh';
                }
            });
            $("#widthRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' cm';
                }
            });
            $("#heightRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' cm';
                }
            });
            $("#lengthRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' cm';
                }
            });
            $("#cO2Range").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' kg';
                }
            });
            $("#acidVolumeRange").bootstrapSlider({
                'tooltip_split': 'true',
                'formatter': function (value) {
                    return value + ' l';
                }
            });
            $('#review-filter-btn').click(function () {
                if ($('.details--filters').css('display') == 'none') {
                    $('.details--filters').css({'display': 'block'});
                    $('#filter-btn-arrow').removeClass('fa-angle-down');
                    $('#filter-btn-arrow').addClass('fa-angle-up');
                    $('#filter-btn-span').text('Simple');
                } else if ($('.details--filters').css('display') == 'block') {
                    $('.details--filters').css({'display': 'none'});
                    $('#filter-btn-arrow').removeClass('fa-angle-up');
                    $('#filter-btn-arrow').addClass('fa-angle-down ');
                    $('#filter-btn-span').text('Advanced');
                }
            });
        });
    </script>
{% endblock %}